apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-operator
  labels:
    app: hello-operator
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hello-operator
  template:
    metadata:
      labels:
        app: hello-operator
    spec:
      serviceAccountName: hello-operator
      containers:
        - name: hello-operator
          image: roffe/kubectl:latest
          command: [/data/controller.sh]
          volumeMounts:
            - name: controller-script
              mountPath: /data/
          env:
            - name: LOOP
              value: '1'
            - name: SLEEP
              value: '10'
      volumes:
        - name: controller-script
          configMap:
            name: hello-controller-script
            defaultMode: 0700
